$color-primary: #F04e23;
$color-second: #A22B42;
$white: #fff;
$raleway: "Raleway", Arial;
$primary-orange: #F04E23;
$secondary-burgundy: #A22B42;
$text-gray:#898989;
$background-gray: #F4F4F4;
$white: #ffffff;
