
h4{
    text-transform: uppercase;
    color: $secondary-color;
    font-size:18px;  
}
.container{
    max-width: 80%;
}
.methodology{
    .top-line{
        border-top: 3px solid $secondary-color;
        margin-top: 25px;
        max-width: 50%;
        min-width: 270px;
    }
    &-quote{
        color: $secondary-color;
        font-size: 36px;
        margin-top: 100px;
    }
    p{
        margin: 50px 0 60px;
    }
}

