// Placeholders
%lg-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.general {
  border-top: 3px solid #A22B42;
  color: #A22B42;
}


.group {
  &-title {
    text-transform: uppercase;
  }
}


.subject-one,
.subject-two,
.subject-three,
.subject-four {
  &_title {
    color: #A22B42;
  }

  &_text {
    color: #898989;
  }
}


.subject-two,
.subject-four {
  background-color: #F4F4F4;
}


.subject-one {
  &_project {
    &-one {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 450px;
      }
    }

    &-two {
      color: #B01A40;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }

    &-three {
      color: #B01A40;
      @extend %lg-flex;

      &_img {
        width: 450px;
      }
    }

    &-four {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }

  }
}


.subject-two {
  &_project {
    &-one {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 450px;
      }
    }

    &-two {
      color: #B01A40;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }
  }
}


.subject-three {
  &_project {
    &-one {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 450px;
      }
    }

    &-two {
      color: #A22B42;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }

    &-three {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }

    &-four {
      color: #A22B42;
      @extend %lg-flex;

      &_img {
        width: 350px;
      }
    }
  }
}


.subject-four {
  &_project {
    &-one {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 450px;
      }
    }

    &-two {
      color: #B01A40;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }

    &-three {
      color: #A22B42;
      @extend %lg-flex;

      &_img {
        width: 450px;
      }
    }

    &-four {
      color: #DA5B30;
      @extend %lg-flex;

      &_img {
        width: 400px;
      }
    }
  }
}