.general {
  font-size: 16px;

  &_title {
    border-top: 3px solid $secondary-color;
    color: $secondary-color;
  }
}


.group {
  &-title {
    text-transform: uppercase;
  }
}


.subject-one,
.subject-two,
.subject-three,
.subject-four {
  @include font-size(14px);

  &_title {
    color: $secondary-color;
  }

  &_text {
    color: $text-color;
  }
}


.subject-two,
.subject-four {
  background-color: $background-color;
}


.subject-one {
  @include font-size(14px);

  &_project {
    &-one {
      @include lg-flex();

      &_title, 
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, top)
      }
    }

    &-two {
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover,right);
      }
    }

    &-three {
      @include lg-flex();

      &_title,
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }

    &-four {      
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }
  }
}


.subject-two {
  &_project {
    &-one {
      @include lg-flex();

      &_title, 
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, top);
      }
    }

    &-two {
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover, initial)
      }
    }
  }
}


.subject-three {
  &_project {
    &-one {      
      @include lg-flex();

      &_title,
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, right);
      }
    }

    &-two {
      color: $secondary-color;
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover, left);
      }
    }

    &-three {      
      @include lg-flex();

      &_title,
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }

    &-four {
      color: $secondary-color;
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover, right);
      }
    }
  }
}


.subject-four {
  &_project {
    &-one {      
      @include lg-flex();

      &_title,
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }

    &-two {
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }

    &-three {
      @include lg-flex();

      &_title,
      &_text {
        color: $quaternary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(325px, 325px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }

    &-four {
      @include lg-flex();

      &_title,
      &_text {
        color: $tertiary-color;
      }

      &_title {
        @include font-size(16px);
      }

      &_align-img {
        @extend %align-img;
      }

      &_img {
        @extend %max-width;
        @include wh-img(300px, 300px);
        @extend %border-img;
        @include object-img(cover, initial);
      }
    }
  }
}